@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
}
body{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(to right bottom,#fb3db5,#6002b1);
}
.container{
    display:grid;
    grid-template-columns: repeat(3,auto);
}
.box{
    height:100px;
    width:100px;
    border:2px solid rgb(255, 154, 3);
    box-shadow:0 0 0 2px rgb(255, 154, 3);

    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
#status{
    font-size:25px;
    padding:20px;
    font-weight: 600;
    color:white;
}
button{
    width:130px;
    height:50px;
    background-color: rgb(252, 13, 65);
    color:white;
    font-size: 1.2rem;
    border:none;
    border-radius: 6px;
}
.win{
    background-color: #6002b1;
    transition: 2s;
    transform: scale(1.1);
}
i{
    font-size: 50px;
}
.fa-o{
    color:rgb(5, 247, 37)
}
.fa-x{
    color:rgb(249, 229, 10)
}
button:hover{
    background-color: rgb(209, 0, 45);
}